<div class="container">
  <div (click)="cancel()" class="go-back">
    <i class="material-icons">arrow_back</i>
    <p>{{ 'return' | translate }}</p>
  </div>

  <div class="content">
    <h2 class="content-title">{{ 'selectReportReason' | translate }}</h2>
    <ion-radio-group class="report-reasons" [(ngModel)]="reportReasonId" (ionChange)="handleChange($event)">
      <ion-item class="reason-item" *ngFor="let reportReason of reportReasons">
        <ion-radio class="reason-radio" [value]="reportReason.id">
          {{reportReason.reasonTitle}}
        </ion-radio>
      </ion-item>
    </ion-radio-group>

    <button class="submit-button" [disabled]="!reportReasonId" (click)="confirm()">{{ 'report' | translate }}</button>
  </div>
</div>