<ion-header class="header">
  <app-header-back></app-header-back>
</ion-header>
<ion-content>
  <div class="content">
    <div class="profile-header">
      <img alt="Profile picture" src="https://via.placeholder.com/59" class="profile-picture">
      <div class="profile-info">
        <h2 class="profile-name">Fulano Ciclano da Silva</h2>
        <p class="profile-username">@fulano.ciclano01</p>
      </div>
      <button><img alt="options" src="assets/icon/kebab-menu.svg" class="kebab-menu"></button>
    </div>

    <div class="profile-awards awards-gold">
      <img alt="awards" class="awards-img" src="assets/images/awards-gold-first.png">
      <div class="awards-text">
        <h3 class="awards-title">Ouro reluzente!</h3>
        <p class="awards-description">Fulano tem 32 medalhas de ouro, 25 de prata e 15 de bronze.</p>
      </div>
    </div>

    <div class="divider"></div>
  </div>
</ion-content>