ion-header {
  height: 8vh;
  
  .header-items {
    padding: 0 4.4%;
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-weight: bold;
    height: 100%;

    .header-item {
      margin-top: 3vh;
      margin-right: 1.5rem;
      font-weight: bold;
    }

    .underlined {
      border-bottom: 3px solid var(--mkw-color-dark);
    }
  }
}


.header-md::after {
  background-image: none;
}