<ion-header>
  <div class="header-items">
    <label class="underlined header-item">Para suas crianças</label>
    <label class="header-item">Em alta</label>
  </div>
</ion-header>
<ion-content *ngIf="showContent" >
  <app-content-card *ngFor="let contentCard of contentCards" [contentData]="contentCard"></app-content-card>
  
</ion-content>

<div class="no-content" *ngIf="!showContent">
  <article class="">
    <h2>Nenhuma recomendação por aqui!</h2>
    <label class="paragraph">Associe crianças ao seu perfil para ter uma recomendação personalizada para cada uma delas!</label>
    <button routerLink='../profile/add-children'>Adicionar crianças</button>
  </article>
  
  <footer>
    <img src="assets/images/logging-off.png">

  </footer>
</div>