div.page-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    app-stepper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }

    div.form-content{
        margin: 0 40px 20px 40px;
        div.go-back{
            display: flex;
            flex-direction: row;
            align-items: center;
    
            i{
                margin-right: 5px;
            }
        }

        div.sign-up-form{
            margin-top: 20px;

            label{
                font-size: 0.75em;
            }
            ion-input, ion-select{
                border: 2px solid #0A0A0A;
                width: 100%;
                margin: 25px 0 0 0;
                padding: 10px;

                input{
                    padding: 10px !important;
                    --padding-start: 20px;

                }
            }
            label{
                margin: 0 !important;
            }
        }
    }


    div.account-created{
        margin: auto 40px;

        div.information{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2{
                text-align: center;
            }

            label{
                margin-top: 30px;
            }
        }
    }

    div.button-div{

        display: flex;
        margin: auto 40px 30px 40px;
        flex-direction: column;
    
        button{
            
            background-color: #016FB9;
            color: white;
            padding: 12px;
            font-size: 1.2em;
        }    
    }
    
}

    


