<ion-header>
  <app-header-back></app-header-back>
</ion-header>

<ion-content>
  <h2>Editar criança</h2>

  <form [formGroup]="updateForm" class="form-content">
  
    <label>* Campo obrigatório</label>
    <div class="sign-up-form">
      <ion-select placeholder="Faixa etária" formControlName="ageRange">
        <ion-select-option *ngFor="let ageRange of ageRanges" [value]="ageRange.id">{{ageRange.initialAge}} a {{ageRange.finalAge}} anos</ion-select-option>
      </ion-select>

      <ion-select placeholder="Gênero" formControlName="gender">
        <ion-select-option [value]="1">Masculino</ion-select-option>
        <ion-select-option [value]="2">Feminino</ion-select-option>
        <ion-select-option [value]="3">Não binário</ion-select-option>
      </ion-select>
    </div>
  </form>
</ion-content>


<ion-footer>
  <button (click)="updateChild()"><i class="material-icons">save</i> Salvar alterações</button>
  <button class='warning' (click)="deleteChild()" ><i class="material-icons">delete</i> Deletar criança</button>
</ion-footer>