<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MyKidsWatch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MyKidsWatch</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <button (click)="changeLanguage()" style="padding: 10px;margin-bottom: 90px;">{{ 'changeLanguage' | translate }}</button>

    <div class="search" >
      <input type="number" style="padding: 10px;" [formControl]='movieId'>
      <button (click)="getMovie()" style="padding: 10px;">{{ 'search' | translate }}</button>
    </div>
    
    <button (click)="loginPage()" style="padding: 10px;">Mudar de pagina</button>
    <div *ngIf="movieObject">
      <h1>{{ movieObject.original_title }}</h1>
      <img style="width: 200px;" [src]="'https://image.tmdb.org/t/p/original' +  movieObject.poster_path">
    </div>
  </div>

<div>
  <label>{{user?.username}}</label>
  <button (click)="setUser()">Set user</button>
  <button (click)="removeUser()">Remove user</button>
</div>

</ion-content>