.children-header {
  padding: 0 4.4%;
  
  &::after {
    display: none;
  }
}

.children-content {
  text-align: center;

  main {
    padding: 20px !important;
  }

  h2 {
    margin: 20px 0 0 0;
  }

  div {
    width: 100%;
    padding: 0 4.4%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.children-footer {
  padding: 0 4.4%;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--mkw-color-primary);
    color: var(--mkw-color-light);
    padding: .75rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.15));

    i {
      margin-right: .5rem;
    }
  }

  &::before {
    display: none;
  }
}