ion-content{
    main{

        padding: 20px !important;
    }
    text-align: center;
    h2{
        margin: 20px 0 0 0;
    }
    div{
        width: 90%;
        margin: 20px 1.2em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

ion-footer{
    display: flex;
    align-items: center;
    padding: 20px;
    button{
        padding: 10px;
        display: flex;
        background: #0816C7;
        align-items: center;
        color: white;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}