div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 130px; 
    margin: 10px;   
    font-weight: bold;
    i{
        font-size: 3em;
    }

}

div.boy{
    background-color: var(--mkw-color-primary);
    color: white;
}

div.girl{
    background-color: #6812c7;
    color: white;
}

div.unassigned{
    background-color: #FFBA08;
    color: #2C2C2C;
}