div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 9rem;
  width: 9rem;
  margin: 10px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  i {
    font-size: 3em;
  }
}

div.boy {
  background-color: var(--mkw-color-secondary);
  color: var(--mkw-color-light);
}

div.girl {
  background-color: var(--mkw-color-purple);
  color: var(--mkw-color-light);
}

div.child {
  background-color: var(--mkw-color-warning);
  color: var(--mkw-color-dark-medium);
}