<main *ngIf="this.contentData" class="content-card">
  <img 
    class="content-poster" 
    [src]="this.contentData.picturePath || '../../../../assets/images/no-photo.png'"
  >

  <article>
    <header>
      <h2 class="content-title">{{this.contentData.title}}</h2>
      <label class="content-type" *ngIf="isValidDate()">{{this.contentData.contentType.toLowerCase() | translate }}, {{this.contentData.releaseDate | date: 'yyyy'}}</label>
    </header>
    <div class="genres">
      <ion-chip *ngFor="let genre of contentData?.genre">
        <ion-label>{{ genre | translate }}</ion-label>
      </ion-chip>
    </div>
    <label class="content-description">{{this.contentData.description}}</label>
    <footer>
      <aside class="rating">
        <label class="rating-text">{{ 'content.rating' | translate }}</label>
        <span>
          <img 
            src="assets/icon/star.svg" 
            class="star-icon"
            alt="Star icon"
          >
          <label class="rating-value">{{ this.contentData.averageRating }}</label>
        </span>
      </aside>
      <nav [routerLink]="['../content/' + this.contentData.id]"  >
        <label>{{ 'content.seeMore' | translate }}</label>
        <i class="material-icons">arrow_forward_ios</i>
      </nav>
    </footer>
  </article>
</main>