<ion-content >

<div class="page-content">

  <div *ngIf="!isUserEmailVerified"  class="account-created">
      <div class="information">
        <h2>Informe o código recebido no seu e-mail</h2>
        <p class="thanks-for-joining">Enviamos um código nesse e-mail, ele serve para sabermos que você é realmente dono do e-mail utilizado na criação da sua conta. Informe ele no campo abaixo para acessar a aplicação!</p>
        <ion-input [(ngModel)]="emailKeyCode" style="border: 1px solid"></ion-input>
        <button (click)="submitKeyCode()">Enviar</button>
      </div>  
    </div>
    
  <div *ngIf="isUserEmailVerified" class="account-created">
    <div class="information">
      <h2>E-mail confirmado com sucesso</h2>
      <img src="assets/images/approve-email.png">
      <p class="thanks-for-joining">Seu e-mail foi confirmado com sucesso, você pode acessar a aplicação normalmente agora.</p>
      <button (click)="goToMainApplication()">Início</button>
    </div>  
  </div>
</div>


</ion-content>
