<ion-content>
  <div class="add-children">
    <app-header-back />
    <h2>Adicionar review</h2>

    <form [formGroup]="reviewForm" class="form-content">
      <label class="mandatory">{{ 'profile.mandatoryField' | translate }}</label>
      <div class="signup-form">
        <ion-input placeholder="Título" formControlName="reviewTitle"></ion-input>
        <ion-textarea placeholder="Descrição" [rows]="4" formControlName="reviewText"></ion-textarea>
        
        <ion-select [placeholder]="'Selecione as estrelas'" formControlName="stars">

          <ion-select-option value="1">1 estrela</ion-select-option>
          <ion-select-option value="2">2 estrelas</ion-select-option>
          <ion-select-option value="3">3 estrelas</ion-select-option>
          <ion-select-option value="4">4 estrelas</ion-select-option>
          <ion-select-option value="5">5 estrelas</ion-select-option>
        </ion-select>

      </div>
    </form>
    <button class="add-button" (click)="submitReview()"><i class="material-icons">add</i>Adicionar Review</button>
  </div>
</ion-content>