<header class="profile-header">
  <i class="material-icons">account_circle</i>
  <div>
    <h3>{{userData!.firstName}} {{userData!.lastName}}</h3>
    <h4 *ngIf="coinCount != undefined">Moedas: {{this.coinCount}}</h4>
  </div>
</header>

<main>
  <label class="what-to-do">{{ 'profile.whatToDo' | translate }}</label>
  <aside class="menu">
      <!-- <label routerLink="edit-profile">Editar Perfil <i class="material-icons">edit</i></label> -->
      <label class=menu-item routerLink="children">
        {{ 'profile.editChildren' | translate }} <i class="material-icons">supervisor_account</i>
      </label>

      <label class=menu-item routerLink="children">
        Adicionar fundos <i class="material-icons">payments</i>
      </label>
  </aside>
</main>
<footer>
  <label class="menu-item logout-item" (click)="logOffUser()">{{ 'profile.logout' | translate }} <i class="material-icons">logout</i></label>
</footer>
