<header>
  <i class="material-icons">account_circle</i>
  <div>
    <h3>{{userData!.firstName}} {{userData!.lastName}}</h3>
   
  </div>
</header>

<main>
  <label>{{ 'profile.whatToDo' | translate }}</label>

  <aside>
      <!-- <label routerLink="edit-profile">Editar Perfil <i class="material-icons">edit</i></label> -->
      <label routerLink="children">{{ 'profile.editChildren' | translate }} <i class="material-icons">supervisor_account</i></label>
  </aside>


</main>
<footer>
  <label (click)="logOffUser()">{{ 'profile.logout' | translate }} <i class="material-icons">logout</i></label>
</footer>
