<header>
  <i class="material-icons">account_circle</i>
  <div>
    <h3>Fulano Beltrano da Siva</h3>
    <label>Gênero: Masculino</label>    
    <label>Idade: 33 anos</label>    
  </div>
</header>

<main>
  <label>O que deseja fazer?</label>

  <aside>
      <label routerLink="edit-profile">Editar Perfil <i class="material-icons">edit</i></label>
      <label routerLink="children">Editar Minhas Crianças <i class="material-icons">supervisor_account</i></label>
  </aside>


</main>
<footer>
  <label (click)="logOffUser()">Sair do aplicativo <i class="material-icons">logout</i></label>
</footer>
