<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"><i class="material-icons">arrow_back</i></ion-button>
    </ion-buttons>
    <ion-title>Recompensar review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Saldo atual: {{this.userBalance ? this.userBalance : 0}}</h2>
  <label class="add-funds" (click)="addFunds()">Adicionar fundos?</label>

  <main>

    <div (click)="selectAward(1, 100)" [ngClass]="'award-card ' + getAwardCardClass(1, 100)">
      <img src="assets/icon/GOLDEN_SHIELD.png">
      <label>Prêmio de ouro</label>
      <label>100 moedas</label>
    </div>

    <div (click)="selectAward(2, 50)" [ngClass]="'award-card ' + getAwardCardClass(2, 50)">
      <img src="assets/icon/SILVER_SHIELD.png">
      <label>Prêmio de prata</label>
      <label>50 moedas</label>
    </div>

    <div (click)="selectAward(3, 20)" [ngClass]="'award-card ' + getAwardCardClass(3, 20)">
      <img src="assets/icon/BRONZE_SHIELD.png">
      <label>Prêmio de bronze</label>
      <label>20 moedas</label>
    </div>
  </main>
  <footer>
    <button (click)="confirm()"><i class="material-icons">add</i>Recompensar</button>

  </footer>
</ion-content>