<ion-content>
  <div class="page-content">
    <app-stepper [currentStep]="currentStep"></app-stepper>

    <form [formGroup]="requestKeycodeForm" *ngIf="currentStep === 1" class="form-content">
      <div (click)="previousPage()" class="go-back">
        <i class="material-icons">arrow_back</i>
        <p>{{ 'return' | translate }}</p>
      </div>
  
      <div class="form-information">
        <h2>Redefinição de senha</h2>
        <label>Informe o e-mail de sua conta para redefinir sua senha.</label>
      </div>
  
      <ion-input type="text" placeholder="{{ 'signUpComponent.email' | translate }}*" formControlName="email"></ion-input>
        <label 
          *ngIf="isFieldValid('email')" class="invalid-label">
          {{ 'signUpComponent.emailRequired' | translate }}
        </label>

    </form>

    <form [formGroup]="requestKeycodeForm" *ngIf="currentStep === 2" class="form-content">
      <div (click)="previousPage()" class="go-back">
        <i class="material-icons">arrow_back</i>
        <p>{{ 'return' | translate }}</p>
      </div>
  
      <div class="form-information">
        <h2>Redefinição de senha</h2>
        <label>Um código de redefinição foi enviado para o e-mail informado. Informe o código e sua nova senha no formulário abaixo.</label>
      </div>
  
      
      <ion-input 
        type="password" 
        placeholder="{{ 'signUpComponent.password' | translate }}*" 
        formControlName="password">
      </ion-input>

      <label *ngIf="isFieldValid('password')" class="invalid-label">
        {{ 'signUpComponent.passwordRequired' | translate }}
      </label>

      <ion-input 
        type="password" 
        placeholder="{{ 'signUpComponent.rePassword' | translate }}*"
        formControlName="rePassword">
      </ion-input>
      <label 
        *ngIf="isFieldValid('rePassword')" 
        class="invalid-label">
        {{ 'signUpComponent.rePasswordRequired' | translate }}
        <br>
      </label>

      <ion-input 
        type="text" 
        placeholder="Keycode" 
        formControlName="keycode">
      </ion-input>
      <label *ngIf="isFieldValid('keycode')" class="invalid-label">
        O KeyCode é obrigatório
      </label>


    </form>
    
    <div *ngIf="currentStep === 3" class="account-created">
      <div class="information">
        <h2>{{ 'signUpComponent.accountCreated' | translate }}</h2>
        <img src="assets/images/approve-email.png">
        <p class="thanks-for-joining">Senha redefinida com sucesso</p>
      </div>  
    </div>

    <div class="button-div">
      <button 
      [ngClass]="isCurrentStepValid() ? '' : 'invalid'" 
      [disabled]="!isCurrentStepValid()"
        (click)="nextStep()">{{ 'signUpComponent.continue' | translate }}</button>
    </div>
</div>
</ion-content>
