<ion-tabs>
  <ion-tab-bar class="bottom-tab-bar" slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="home"></ion-icon>
      {{ 'navTabs.home' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      {{ 'navTabs.search' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      {{ 'navTabs.profile' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="admin">
      <i class="material-icons">admin_panel_settings</i>
      Admin
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>