ion-content{


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 35%;
    margin-top: 20px;
    img{
        margin: 5px;
    }
}

form.login-form{
    ion-input, ion-select{
        border: 2px solid #0A0A0A;
        width: 100%;
        margin: 25px 0 0 0;
        padding: 10px;

        input{
            padding: 10px !important;
            --padding-start: 20px;

        }
    }
    label{
        margin: 10px !important;
    }
}

div, form.login-form{

    display: flex;
    padding: 25px;
    flex-direction: column;

    button{
        background-color: #016FB9;
        color: white;
        padding: 12px;
        font-size: 1.2em;
    }

    label{
        align-self: center;
        margin-top: 10px;
    }
}



}