<ion-content *ngIf="!loading">
  <div class="movie-container">
    <ion-icon 
      name="arrow-back-outline" 
      class="go-back-button" 
      color="primary" 
      role="button" 
      (click)="goBack()"
    >
    </ion-icon>
    <div class="movie-poster"
      style="background: linear-gradient(180deg, #f5f5f500 0%, #f5f5f500 52.92%, #f5f5f5 90%), url('{{ contentObject?.picturePath }}') no-repeat center center fixed; background-size: cover;">
    </div>
    <div class="movie-info">
      <div class="movie-title-container">
        <h1 class="movie-title">{{ contentObject?.title }}</h1>
        <app-stars-rating [rating]="contentObject?.averageRating || 0" />

      </div>
      <div class="genres">
        <ion-chip *ngFor="let genre of contentObject?.genre">
          <ion-label>{{ genre }}</ion-label>
        </ion-chip>
      </div>
      <p class="movie-description">
        {{ contentObject?.description }}
      </p>
      <div class="movie-additional-info">
        <div class="content-type">
          <img src="assets/icon/movie.svg" class="movie-icon" alt="Movie icon">
          <div>
            <p class="content-type-text"> {{ 'movie' | translate }}</p>
            <p class="content-type-additional-info">{{ contentObject?.releaseDate?.getFullYear() }}</p>
          </div>
        </div>
      </div>
    </div>
    <button class="add-button" (click)="goToReviewPage(contentObject?.externalContentId, contentObject?.platformId)" ><i class="material-icons">add</i>Review</button>
  </div>
  

</ion-content>