<ion-content *ngIf="reportOverview">

  
  <h3>{{reportOverview.reportType}} - {{reportOverview.reportReason}}</h3>
  <h3>Status: {{reportOverview.reportStatus}}</h3>
  <h3>Autor: {{reportOverview.reportedPerson}}</h3>

  
  <footer>
    <button (click)="true">
      Descartar
    </button>
  
    <button *ngIf="this.reportOverview.reportType != 'Profile'" (click)="true">
      Excluir {{this.reportOverview.reportType}}
    </button>
  
    <button (click)="true">
      Excluir perfil
    </button>
  </footer>
  
</ion-content>