<div class="container" *ngIf="reportOverview">
  <div (click)="goBack()" class="go-back">
    <i class="material-icons">arrow_back</i>
    <p>{{ 'return' | translate }}</p>
  </div>

  <main class="content">
    <h2 class="content-title">{{reportOverview.reportType}} - {{reportOverview.reportReason}}</h2>
      <div class="report-detail">
        <label>Status:</label>
        <span>{{reportOverview.reportStatus}}</span>
      </div>
      <div class="report-detail">
        <label>Autor:</label>
        <span>{{reportOverview.reportedPerson}}</span>
      </div>
    <div class="report-content-wrapper">
      <p class="report-label">Conteúdo denunciado:</p>
      <p class="report-content">"{{reportOverview.reportText}}"</p>
    </div>
  </main>

  <div class="footer">
    <button class="submit-button danger outlined" (click)="removeContent()" *ngIf="this.reportOverview.reportType != 'Profile'">
      Excluir {{this.reportOverview.reportType}}
    </button>

    <button class="submit-button danger outlined" (click)="removeProfile()">
      Excluir perfil
    </button>

    <button class="submit-button" (click)="discardReport()">
      Descartar denúncia
    </button>
  </div>
</div>