.comment-modal {  
  font-family: 'Poppins', sans-serif;	

  .main-comment-content {
    font-family: inherit;
    display: flex;
    flex-direction: row;
    margin: .5rem 0;
  }

  .responses-content {
    padding-left: 50px;
  }

  .comment-pfp {
    border-radius: 50%;
    height: 2.5em;
  }

  .comment-content {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    margin-left: .5rem;
    border-radius: 0 15px 15px 15px;
    width: 100%;
    font-family: inherit;
    background: #D9D9D9;

    .comment-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .comment-username {
        font-weight: 600;
        font-size: 1rem;
      }
    }

    .comment-text {
      font-weight: 300;
      font-size: .8rem;
      line-height: 1.2;
      font-family: inherit;
      line-break: anywhere;
      margin: .75rem 0;
    }

    .answer-button {
      font-family: inherit;
      font-weight: lighter;
      align-self: self-end;
      background: transparent;
      color: var(--mkw-color-primary);
      position: relative;
      right: .5rem;
    }

    .kebab-menu {
      font-size: 1.25rem;
    }
  }
}

.dropdown-menu {
  background-color: var(--mkw-color-light);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-item {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: var(--mkw-color-dark-medium);
}