div.comment-modal{

    div.main-comment-content{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    
    div.responses-content{
        padding-left: 50px;
    }

    img.comment-pfp{

        border-radius: 50%;
        height: 2.5em;
    }

    div.comment-content{

        display: flex;
        flex-direction: column;
        padding-left: 15px;
        width: 100%;


        div.comment-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            label.comment-username{
                font-weight: 600;
            }

        }

        label.comment-text{
            font-weight: 300  ;
        }

        button.answer-button{
            align-self: self-end;
        }
    }

}

.dropdown-menu {
    background-color: var(--mkw-color-light);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-item {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #333;
}
