<div class="comment-modal">

  <div class="main-comment-content">
    <img [src]="commentModel.commentAuthor.profilePictureUrl !== '' ? 
    commentModel.commentAuthor.profilePictureUrl : ''" 
    class="comment-pfp">
    <div class="comment-content">
      <div class="comment-header">
        <label class="comment-username">{{commentModel.commentAuthor.userName}}</label>
        <i class="material-icons" id="click-trigger">more_vert</i>
        <ion-popover trigger="click-trigger" triggerAction="click">
          <ng-template>
            <label style="padding: 10px;" *ngIf="commentModel.commentAuthor.userName == this.currentUsername">Editar</label>
            <label style="padding: 10px;" *ngIf="commentModel.commentAuthor.userName == this.currentUsername">Excluir</label>
            <label style="padding: 10px;" id="delete-comment-alert">Denunciar</label>
            
            <ion-alert
              trigger="delete-comment-alert"
              header="Tem certeza que deseja excluir o comentário?"
              [buttons]="alertButtons"
            ></ion-alert>
          </ng-template>
        </ion-popover>


        
      </div>
      <label class="comment-text">{{commentModel.commentText}}</label>
      <button *ngIf="commentModel.parentCommentId == null" class="answer-button" (click)="startAnswering($event)" >Responder</button>
    </div>

  </div>
  
  <div class="responses-content" *ngIf="commentModel.parentCommentId == null">
    <app-comment-card class="comment-response-modal" *ngFor="let response of commentModel.commentResponses" [commentModel]="response"></app-comment-card>
    
    
    <ion-item [style]="isAnswering ? 'display: block' : 'display: none'" >
      <ion-input [(ngModel)]="newComment" type="text" #answer pldaceholder="Escreva seu comentário" (focusout)="stopAnswering()" ></ion-input>
      <button clear item-right (click)="answerComment()"><i class="material-icons">send</i></button>
    </ion-item>
  </div>


  
</div>
