footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;

    button{
        background-color: var(--mkw-color-primary);
        color: var(--mkw-color-light);
        width: 20%;
        height: 100%;
    }

    button.disabled{
        color: var(--mkw-color-primary);
        background-color: var(--mkw-color-light);
        border: 1px solid var(--mkw-color-primary);
    }
}