<ion-content *ngIf="!loading">
  <div class="movie-container">
      <ion-icon 
        name="arrow-back-outline" 
        class="go-back-button"
        color="primary"
        role="button"
        (click)="goBack()"
      >
      </ion-icon>
      <div 
      class="movie-poster" 
      style="background: linear-gradient(180deg, #f5f5f500 0%, #f5f5f500 52.92%, #f5f5f5 90%), url('https://image.tmdb.org/t/p/original/{{ movieObject.poster_path }}') no-repeat center center fixed; background-size: cover;"
    >    
    </div>
    <div class="movie-info">
      <div class="movie-title-container">
        <h1 class="movie-title">{{ movieObject.original_title }}</h1>
        <app-stars-rating 
        [rating]="2.4"
        />
      </div>
      <div class="genres">
        <ion-chip>
          <ion-label>Tag 2</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag 2</ion-label>
        </ion-chip>
      </div>
      <p class="movie-description">
        {{ movieObject.description }} 
      </p>
      <div class="movie-additional-info">
        <div class="content-type">
          <img 
            src="assets/icon/movie.svg" 
            class="movie-icon"
            alt="Movie icon"
          >
          <div>
            <p class="content-type-text"> {{ 'movie' | translate }}</p>
            <p class="content-type-additional-info">{{ movieObject.release_date.slice(0, 4) }}</p>
          </div>
        </div>  
      </div>
    </div>
  </div>
</ion-content>