<ion-content>
  <div class="movie-container">
    <div 
      class="movie-poster" 
      style="background: linear-gradient(180deg, #f5f5f500 0%, #f5f5f500 52.92%, #f5f5f5 90%), url('https://www.themoviedb.org/t/p/w600_and_h900_bestv2/kzYbNJ4JaQiRny0cDi8a6bNX5w3.jpg') no-repeat center center fixed; background-size: cover;"
    >
    </div>
    <div class="movie-info">
      <div class="movie-title-container">
        <h1 class="movie-title">Movie Title</h1>
        <app-stars-rating 
        [rating]="2.4"
        />
      </div>
      <div class="genres">
        <ion-chip>
          <ion-label>Tag 2</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Tag 2</ion-label>
        </ion-chip>
      </div>
      <p class="movie-description">
        Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. 
        Sed euismod, sapien vel bibendum bibendum, 
        lorem ipsum bibendum sapien, vel bibendum sapien lorem eget sapien. Sed euismod, 
      </p>
    </div>
  </div>
</ion-content>