.stars-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0px;

  .star-icon {
    width: 2.5rem;
    margin-bottom: 1rem;
    filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .stars-rating-value {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    color: var(--mkw-color-dark);
    margin: unset;
  }
}
