<ion-content *ngIf="showContent" >
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-content-card *ngFor="let contentCard of contentCards" [contentData]="contentCard"></app-content-card>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<div class="no-content" *ngIf="!showContent">
  <article class="">
    <h2>{{ 'feedComponent.noRecommendations' | translate }}</h2>
    <label class="paragraph">{{ 'feedComponent.addChildrenText' | translate }}</label>
    <button routerLink='../profile/add-children'>{{ 'feedComponent.addChildren' | translate }}</button>
  </article>
  
  <footer>
    <img src="assets/images/logging-off.png">
  </footer>
</div>