<ion-content *ngIf="!loading">
  <div class="content-container">
    <ion-icon 
      name="arrow-back-outline" 
      class="go-back-button" 
      color="primary" 
      role="button" 
      (click)="goBack()"
    >
    </ion-icon>
    <div class="content-poster"
      style="background: linear-gradient(180deg, #f5f5f500 0%, #f5f5f500 52.92%, #f5f5f5 90%), url('{{  contentObject?.reviewedContentInformation?.picturePath }}') no-repeat center center fixed; background-size: cover;">
    </div>
    <div class="content-info">
      <div class="content-title-container">
        <h1 class="content-title">{{ contentObject?.reviewedContentInformation?.title }}</h1>
        <app-stars-rating [rating]="contentObject?.reviewRating || 0" />
      </div>

      <div class="review-user-information">

        <div class="profile-information">
          <img class="user-pfp" [src]="contentObject?.reviewAuthor?.profilePictureUrl"/>
          <label>{{ contentObject?.reviewAuthor?.userName }}</label>
        </div>

        <label>1 ano atrás</label>
      </div>

      <div class="review-content">
        <label class="review-title">{{contentObject?.reviewTitle}}</label>
        <p class="review-text">
          {{contentObject?.reviewDescription}}
        </p>

        <div class="see-more">
          <label [routerLink]="['../../../content/feed/' + this.contentObject?.reviewedContentInformation?.contentId]">Ver mais informações e outras análises</label>
          <i class="material-icons">arrow_forward_ios</i>
        </div>
      </div>
    </div>


    <div class="review-comments">
      <div class="comment-information">
        <i class="material-icons">comment</i>
        <label>{{contentObject?.reviewComments?.length}} commments</label>
      </div>


      <app-comment-card *ngFor="let comment of contentObject?.reviewComments" [commentModel]="comment"></app-comment-card>

    </div>
  </div>
</ion-content>